*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../WEBSITE/images/bg1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
 nav{
     display: flex;
     padding: 2% 6%;
     justify-content: space-between;
     align-items: center;
 }
 nav img{
     width: 150px;
 }
 .nav-links{
     flex: 1;
     text-align: right;
 }
 .nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
 }
 .nav-links ul li a{
     color: #fff;
     text-decoration: none;
     font-size: 13px;
 }
 .nav-links ul li::after{
     content: '';
     width: 0%;
     height: 2px;
     background: #36c8f4;
     display: block;
     margin: auto;
     transition: 0.5s;
 }
 .nav-links ul li:hover::after{
     width: 100%;
 }
 .text-box{
     width: 90%;
     color: #fff;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }
 .text-box h1{
     font-size: 62px;
 }
 .text-box p{
     margin: 10px 0 40px;
     font-size: 40px;
     color:#36c8f4;
    font-family: 'Times New Roman', Times, serif;
 }
 .hero-btn{
     display: inline-block;
     text-decoration: none;
     color: #fff;
     border: 1px solid #fff;
     padding: 12px 34px;
     font-size: 13px;
     background: transparent;
     position: relative;
     cursor: pointer;
 }
 .hero-btn:hover{
     border: 1px solid #36c8f4;
     background: #36c8f4;
     transition: 1s;
 }

nav .fa{
    display: none;
}

 @media(max-width: 700px){
    .text-box h1{
        font-size: 25px;
    }
    .text-box p{
        font-size: 18px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #36c8f4;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
 }

 /*------ Course ------*/

 .course{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
 }
 .course h1{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 50px;
     font-weight: 600;
 }

 .row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
 }
 .course-col{
     flex-basis: 31%;
     background: #fff3f3;
     border-radius: 10px;
     margin-bottom: 1%;
     padding: 30px 12px;
     box-sizing: border-box;
     text-align: center;
     vertical-align: middle;
     border-right: 3px solid #fff;
     border-left: 3px solid #fff;
     transition: 0.5s;
 }
 .course-col:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }
 @media(max-width: 700px){
     .row{
         flex-direction: column;
     }
 }
 .course-logo{
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 1px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    color: #fff;
 }

.course-logo img{
    width: 290px;
    height: 290px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 10px;
}

.course-logo1{
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 1px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    color: #fff;
}
.course-logo1 img{
    position: cover;
    width: 280px;
    height: 300px;
    object-fit: cover;
    margin-right: 500px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 320px;
}
.course-logo2{
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 1px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    color: #fff;
}
.course-logo2 img{
    position: cover;
    width: 290px;
    height: 350px;
    object-fit: cover;
    margin-right: 500px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 620px;
    margin-top: -18px;
}
.course-logo3{
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 1px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    color: #fff;
}
.course-logo3 img{
    position: cover;
    width: 290px;
    height: 295px;
    object-fit: cover;
    margin-right: 500px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 930px;
    margin-top: 10px;
}
.course-logo4{
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 1px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    color: #fff;
}
.course-logo4 img{
    position: cover;
    width: 310px;
    height: 260px;
    object-fit: cover;
    margin-right: 500px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 1230px;
    margin-top: 10px;
}

/*-----about-----*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.about h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
}
.row{
    margin-top: 5%;
    display: flex;
}

.about h3{
    font-size: 30px;
    color: #36c8f4;
}

.about-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.about-col img{
    position: cover;
    width: 300px;
    height: 295px;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 1px;
    margin-top: 10px;
}
.about-col p{
    font-size: 13px;
    margin-right: 15px;
    text-align-last: center;
}
@media(max-width: 700px){
    .about h1{
        flex-direction: column;
    }
}

/*----admission-----*/

.admission{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.admission h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 600;
}
.row{
    margin-top: 5%;
    display: flex;
}
.admission h3{
    font-size: 40px;
    color: #36c8f4;
}
.admission-col{
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
}
.admission-col p{
    font-size: 13px;
}
@media(max-width: 700px){
    .admission h1{
        flex-direction: column;
    }
}

/*------contact-------*/

.contact{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.contact h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 600;
}
.row{
    margin-top: 5%;
    display: flex;
}
.contact h3{
    font-size: 30px;
    color: #36c8f4;
}
.contact-col{
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
}
.contact p{
    font-size: 20px;
}
.user-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -100px;
}
.fai-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.fai-btn:hover{
    border: 1px solid #36c8f4;
    background: #36c8f4;
    transition: 1s;
}

@media(max-width: 700px){
    .contact h1{
        flex-direction: column;
    }
}

/*-----about pcnl page-----*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../WEBSITE/images/bg3.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.front-page h1{
    font-size: 62px;
    margin-top: -70px;
}
.front-page p{
    margin: 10px 0 40px;
    font-size: 40px;
    color:#36c8f4;
   font-family: 'Times New Roman', Times, serif;
}

/*-----course page-----*/
.sub-header1{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../WEBSITE/images/bg2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.course-page h1{
    font-size: 62px;
    margin-top: -70px;
}
.course-page p{
    margin: 10px 0 40px;
    font-size: 40px;
    color:#36c8f4;
   font-family: 'Times New Roman', Times, serif;
}

/*-----admission page-----*/
.sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../WEBSITE/images/bg5.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.admission-page h1{
    font-size: 62px;
    margin-top: -70px;
}
.admission-page p{
    margin: 10px 0 40px;
    font-size: 40px;
    color:#36c8f4;
   font-family: 'Times New Roman', Times, serif;
}
/*-----contact page-----*/
.sub-header3{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../WEBSITE/images/bg6.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.contact-page h1{
    font-size: 62px;
    margin-top: -70px;
}
.contact-page p{
    margin: 10px 0 40px;
    font-size: 40px;
    color:#36c8f4;
   font-family: 'Times New Roman', Times, serif;
}
footer{
    margin-left: 600px;
    margin-bottom: 15px;
}
.footer1{
    margin-top: 450px;
    margin-bottom: 15px;
}